@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
}

body {
  padding: 0;
  text-align: center;
  cursor: url(/docs/images/rocket-cursor.png), auto;
}

main {
  background-color: rgb(50, 42, 131);
}

#game-intro {
  /* padding: 20px 0; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
  /* gap: 5px; */
  background-color: rgb(27, 23, 71);
  align-items: center;
  width: 60vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 20px;
}

#game-intro p {
  font-size: 18px;
  margin-bottom: 10px;
}

.arrows-img {
  width: 100px;
  margin-bottom: 20px;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  /* margin: 30px 0; */
}

.rocket-icon {
  width: 120px;/* width: 150px;  */
  height: 170px;/* height: 220px; */
  position: relative;
  z-index: 10;
  top: -70px;
}

.instruction-icon {
  width: 20px;
  height: 20px;
}

.instruction-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avoid-collect {
  background-image: url("/docs/images/background.jpeg");
  width: 300px;
  padding: 20px 0;
  border-radius: 8px;
  position: relative;
  top: -50px;
}

.heading {
  margin-bottom: 10px;
  position: relative;
  top: -60px;
}

/* .planet-icon {
  width: 20px;
  height: 20px;
}

.star-icon {
  width: 30px;
  height: 30px;
}

.blackhole-icon {
  width: 20px;
  height: 20px;
} */

/* .avoid-collect{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  background-image: url(/docs/images/background.jpeg);
  height: 150px;
  border-radius: 8px;

} */

/* .instructions-text {
  position: relative;
  z-index: 10;
  top: -30px;
  
} */

#game-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  cursor: auto;
  
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  background-color: rgba(50, 42, 131, 0.5);
  width: 5vw;
  height: 190px;
  padding: 0 20px;
  border-radius: 10px;
  margin-left: 15px;
}

.general-stats {
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  background-image: url(/docs/images/background.jpeg);
  background-size: cover;
  animation: slide 5s linear infinite;
  cursor: auto;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
  color: white;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-end h1 {
  font-size: 8rem;
  margin: 0;
  margin-bottom: 20px;
}

#game-end p {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.play-button {
  
  font-size: 30px;
  background-image: url(/docs/images/background.jpeg);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: url(/docs/images/rocket-cursor.png), pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.play-button:active {
  box-shadow: none;
}




